<div class='container'>
  <div class='row text-center'>
    <div class='col-sm'>
      <%= content_tag :h3, t('geoblacklight.home.category_heading') %>
      <div class='row'>
        <%= render(Geoblacklight::HomepageFeatureFacetComponent.new(icon: 'home', label: 'geoblacklight.home.resource_class', facet_field: Settings.FIELDS.RESOURCE_CLASS, response: @response)) %>
        <%= render(Geoblacklight::HomepageFeatureFacetComponent.new(icon: 'arrow-circle-down', label: 'geoblacklight.home.resource_type', facet_field: Settings.FIELDS.RESOURCE_TYPE, response: @response)) %>
      </div>
      <div class='row'>
        <%= render(Geoblacklight::HomepageFeatureFacetComponent.new(icon: 'globe', label: 'geoblacklight.home.place', facet_field: Settings.FIELDS.SPATIAL_COVERAGE, response: @response)) %>
        <%= render(Geoblacklight::HomepageFeatureFacetComponent.new(icon: 'tags', label: 'geoblacklight.home.theme', facet_field: Settings.FIELDS.THEME, response: @response)) %>
      </div>
    </div>
     <div id="allmaps-viewer"></div>
        <script>
          const viewer = new AllmapsViewer({
            element: document.getElementById('allmaps-viewer'),
            iiifManifestUrl: '<%= @document['iiif_manifest_url_ssi'] %>'
          });
        </script>
    </div>
  </div>
</div>
